<section>
    <div class="page-header" style="text-align: center; padding-bottom: 50px;">
        <h2 data-bind="text:className" style="align-content: center;"></h2>
    </div>

    <div id="map">
        <div class="map_canvas">
            <iframe width="1080" height="600" id="map_canvas" src="https://maps.google.com/maps?q=&t=&z=1&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
        </div>
        <style>
            #map {
                text-align: right;
                height: 600px;
                width: 1080px;
            }

            .map_canvas {
                overflow: hidden;
                background: none !important;
                height: 600px;
                width: 1080px;
            }
        </style>
    </div>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDLzweGeeB1vUXYqB-hR2Uk3_i9fbF3EuA&callback=initMap">
    </script>

    <!-- ko foreach: laureates -->
    <div><i class="fa fa-map-marker"></i> <a data-bind="html:Nome, attr:{ href: '#laureateDetails/'+LaureadoId, title: Nome}"></a></div>
    <!-- /ko -->

    <div class="clearfix"></div>
    <!-- ko if:error -->
    <div class="bs-callout bs-callout-danger" data-bind="html:error"></div>
    <!-- /ko -->
    <div class="bs-callout bs-callout-info" data-bind="html:description"></div>
</section>