<section>
    <div class="page-header" style="text-align: center; padding-bottom: 50px;">
        <h2 data-bind="text:className" style="align-content: center;"></h2>
    </div>

    <div class="laureates-collage">
        <img src="images/laureates-collage.jpg" alt="Laureates" style="margin: 0; width: 100%; height: auto; padding-bottom: 100px;" />
    </div>

    <div class="container laureates-by-dec">
        <section>
            <div class="row secXX"><i class="far fa-calendar-alt"></i>20th Century - 1900</div>
            <div class="row secXX" data-bind="foreach: decadesXX">
                <div class="col-sm secXX">
                    <button class="btn dec-button" data-type="decades" data-toggle="tooltip" data-placement="top"
                            data-bind="click: $parent.decadeSelection2.bind($data, from, until, title), text: label"></button>
                </div>
            </div>
        </section>
        <section>
            <div class="row"></div>
            <div class="row secXXI"><i class="far fa-calendar-alt"></i>21st Century - 2000</div>
            <div class="row secXXI" data-bind="foreach: decadesXXI">
                <div class="col-sm secXXI">
                    <button class="btn dec-button" data-type="decades" data-toggle="tooltip" data-placement="top"
                            data-bind="click: $parent.decadeSelection2.bind($data, from, until, title), text: label"></button>
                </div>
            </div>
        </section>
    </div>

    <style>
        .row {
            padding: 10px;
        }

        .laureates-by-dec {
            font-size: 110%;
            font-weight: bold;
        }

        .fa-calendar-alt {
            padding: 10px;
        }

        .dec-button {
            color: #000000;
            text-align: center;
            background-color: #f2f2f2;
            min-height: 30px;
            max-height: 50px;
            min-width: 75px;
        }

        .dec-button:hover {
            color: #ffffff;
            background-color: #999999;
            border: 2px solid #ffffff;
        }

        .showLaureates {
            font-size: 150%;
            font-weight: bold;
            text-decoration: underline;
            padding: 15px;
        }

        .cards-section{
            font-size: 75%;
        }

        .laureatesList{
            font-size: 90%;
            padding: 3px;
        }

        .fa-cards{
            padding: 10px;
        }
    </style>

    <br/>
    <div class="showLaureates">Laureates from <span data-bind="html: listTitle"></span></div>

    <section class="cards-section" style="padding: 15px;">
        <div class="card-group">
            <div class="card" style="border-bottom: none; border-top:none; border-left:none;">
                <div class="card-body">
                    <h5 class="card-title"><i class="fas fa-trophy fa-cards"></i>Awarded</h5>
                    <p class="card-text">In this decade there were <span data-bind="text: qtyPrizes" ></span>Laureates awarded.</p>
                </div>
            </div>
            <div class="card" style="border-bottom:none; border-top:none;">
                <div class="card-body">
                        <h5 class="card-title"><i class="fas fa-globe-americas fa-cards"></i>Nacionalities</h5>
                        <p class="card-text">In this decade there were <span data-bind="text: qtyNationalities" ></span>different nacionalities awarded.</p>
                </div>
            </div>
            <div class="card" style="border:none;">
                <div class="card-body">
                    <h5 class="card-title"><span class="fa-cards"><i class="fas fa-male"></i><i class="fas fa-female"></i></span>Men/Women</h5>
                    <p class="card-text">In this decade there were <span data-bind="text: qtyMen"></span>men and <span data-bind="text: qtyWomen" ></span> women awarded.</p>
                </div>
            </div>
        </div>
    </section>

    <!-- ko foreach: laureates -->
    <div class="laureatesList"><i class="fa fa-map-marker"></i> <a data-bind="html:Nome, attr:{ href: '#laureateDetails/'+LaureadoId, title: Nome}"></a></div>
    <!-- /ko -->


    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    ...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>


    <div class="clearfix"></div>
    <!-- ko if:error -->
    <div class="bs-callout bs-callout-danger" data-bind="html:error"></div>
    <!-- /ko -->
    <div class="bs-callout bs-callout-info" data-bind="html:description"></div>
</section>