    <section>
      <div class="page-header">
          <h2 data-bind="text:className"></h2>
      </div>

      <!-- ko foreach: prizes -->
      <div><i class="fa fa-map-marker"></i> <a data-bind="html:Titulo"></a></div>
      <!-- /ko -->

      <div class="clearfix"></div>
      <!-- ko if:error -->
      <div class="bs-callout bs-callout-danger" data-bind="html:error"></div>
      <!-- /ko -->
      <div class="bs-callout bs-callout-info" data-bind="html:description"></div>
    </section>
